@media(max-width:540px){
  #signIn{
    .signIn{
      .signIn--nav{
        h1{
          font-size: 26px!important;
        }
        img{
          margin-left: 149px !important;
        }
        input{
          width: 420px !important;
        }
        a{
          margin-left: 121px!important;
        }
      }
    }
  }
}