.swiper {
  width: 100%;
}

.swiper-slide {
  height: 230px;
}

#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 24px 30px;
  background-color: rgba(140, 179, 217, 0.2);
  border-bottom: 2px solid #FFFFFF;
  backdrop-filter: blur(50px);
}
#header .header--nav {
  display: flex;
  gap: 50px;
}
#header .header--nav__item {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s ease-in;
}
#header .header--nav__item:hover {
  color: #c6d8eb;
  transform: translateY(2px);
}
#header .header--group {
  display: flex;
  gap: 35px;
}
#header .header--group select {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
#header .header--group select option {
  background-color: #000;
}
#header .header--group a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 6px 22px;
  background: #0096C7;
  border-radius: 10px;
  transition: all 0.4s ease-in;
}
#header .header--group a:hover {
  transform: translateY(2px);
}

#hero {
  padding: 170px 0 20px 0;
  position: relative;
}
#hero .hero {
  display: flex;
  justify-content: end;
  align-items: start;
}
#hero .hero--desc {
  width: 50%;
}
#hero .hero--desc p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #9099A3;
}
#hero .hero--desc h1 {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
#hero .hero--desc__btn {
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  color: #1E2024;
  padding: 8px 30px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 25px;
  transition: all 0.4s ease-in;
}
#hero .hero--desc__btn:hover {
  transform: scale(0.97);
}
#hero .hero--bg {
  width: 40%;
}
#hero .hero--bg img {
  width: 100%;
  height: 100%;
}

#courses {
  padding-bottom: 100px;
}
#courses .courses--group {
  display: flex;
  align-items: center;
  gap: 40px;
}
#courses .courses--group__title {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-size: 36px;
}
#courses .courses--group__group {
  display: flex;
  gap: 20px;
}
#courses .courses--group__group--blog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 15px;
}
#courses .courses--blogs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
#courses .courses--blogs .swiper {
  width: 100%;
}
#courses .courses--blogs .swiper-wrapper {
  display: flex;
  gap: 208px;
}
#courses .courses--blogs .swiper-wrapper .swiper-slide {
  height: 300px;
}
#courses .courses--blogs__blog {
  width: 142%;
  height: 300px;
  padding: 20px 60px 30px 20px;
  background: #FFFFFF;
  border-radius: 15px;
  position: relative;
}
#courses .courses--blogs__blog--nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
#courses .courses--blogs__blog--nav a {
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
  transition: all 0.4s ease-in;
}
#courses .courses--blogs__blog--nav a:hover {
  transform: translateY(1.2px);
}
#courses .courses--blogs__blog--desc {
  margin: 22px 0 75px 0;
}
#courses .courses--blogs__blog--desc h2 {
  font-weight: 700;
  font-size: 20px;
  color: #2C3E50;
}
#courses .courses--blogs__blog--desc p {
  width: 276px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2C3E50;
}
#courses .courses--blogs__blog--group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  padding-bottom: 2px;
  border-bottom: 1px solid #000000;
}
#courses .courses--blogs__blog--group a {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #1E2024;
}
#courses .courses--blogs__blog--img {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 200px;
  height: 280px;
}
#courses .courses--blogs__blog--img img {
  width: 100%;
  height: 100%;
}
#courses .courses--groups {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 60px;
  margin-top: 74px;
}
#courses .courses--groups__blog {
  width: 48%;
  height: 300px;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 24px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  position: relative;
  overflow: hidden;
}
#courses .courses--groups__blog--group {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 12px;
  color: #9099A3;
}
#courses .courses--groups__blog h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
}
#courses .courses--groups__blog p {
  font-size: 16px;
  color: #9099A3;
}
#courses .courses--groups__blog--date {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #9099A3;
}
#courses .courses--groups__blog--date span {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#courses .courses--groups__blog--team {
  display: flex;
  align-items: center;
  gap: 10px;
}
#courses .courses--groups__blog--team p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9099A3;
}
#courses .courses--groups__blog--team p span {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
}
#courses .courses--groups__blog--blogNew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
  background: #FF091E;
  border-radius: 0px 15px;
  position: absolute;
  top: 0;
  right: 0;
}
#courses .courses--groups__blog--blogNew span {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
#courses .courses--btn {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  padding: 15px 58px;
  background: #0096C7;
  border-radius: 15px;
  display: block;
  margin: 30px auto 0 auto;
  transition: all 0.4s ease-in;
}
#courses .courses--btn:hover {
  transform: scale(0.97);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(1, 17, 24);
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
